.div-main{
    padding: 2% 5%;
}

h2,table{
    color: white;
}

.form-group{
    margin-top: 1%;
}

.btn {
    margin-top: 1%;
}

.btn-option {
    margin: 0 4%;
}

.mat-select {
    width: 50%;
    margin: 2% 1%;
}

.content-select {
    display: flex;
}


